.project-container {
  margin: 5px 0px;
}

.title-container {
  margin-top: 40px;
}

.action-container {
  margin-top: 60px;
  margin-bottom: 50px;
}

@media screen and (max-width: 960px) {
  .project-container {
    width: 100%;
  }

  .title-container {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .action-container {
    margin-top: 15px;
    margin-bottom: 15px;
  }
}
