<div class="container" fxHide.xs fxShow.gt-xs>
    <div class="edu-title">
      <span class="mat-display-2 edu-title">Education</span>
    </div>
  <mat-card>
    <mat-card-content>
      <mat-list class="edu-list">
        <mat-list-item *ngFor="let edu of educations">
          <mat-icon mat-list-icon svgIcon="school" class="edu-icon"></mat-icon>
          <h4 mat-line><span class="mat-title">{{ edu.institution }}</span></h4>
          <p mat-line><span class="mat-subheading-2">{{ edu.studyType }} - {{ edu.area }}</span></p>
          <p mat-line>
            <span class="mat-caption">
              {{ edu.startDate | date : DATE_FORMAT }} - {{ edu.endDate | date : DATE_FORMAT }}
            </span>
          </p>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>

<div class="container" fxHide.gt-xs fxShow.xs>
  <div class="edu-title">
    <span class="mat-display-1">Education</span>
  </div>
  <mat-card>
    <mat-card-content>
      <mat-list class="edu-list">
        <div *ngFor="let edu of educations">
          <mat-list-item>
            <h4 mat-line><span class="mat-subheading-2">{{ edu.institution }}</span></h4>
            <p mat-line><span class="mat-body-1">{{ edu.studyType }} - {{ edu.area }}</span></p>
            <p mat-line>
              <span class="mat-caption">
                {{ edu.startDate | date : DATE_FORMAT }} - {{ edu.endDate | date : DATE_FORMAT }}
              </span>
            </p>
          </mat-list-item>
        </div>
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
