<mat-card>
  <mat-card-content
    *ngIf="project.links && project.links.demoVideo"
    fxLayout="column">
    <h4 class="mat-title">Demo</h4>
    <mat-nav-list>
      <a mat-list-item
        *ngFor="let link of project.links.demoVideo"
        [href]="link.url"
        target="_blank"
        rel="noopener">
        <mat-icon mat-list-icon svgIcon="video"></mat-icon>
        <h4 mat-line>{{ link.name }}</h4>
        <span fxHide.xs *ngIf="link.description" mat-line>{{ link.description }}</span>
      </a>
    </mat-nav-list>
  </mat-card-content>
</mat-card>

<mat-card class="image-container">
  <mat-card-content
    *ngIf="project.links && project.links.demoImage"
    fxLayoutAlign="start center"
    fxLayout="column"
    fxLayoutGap="20px"
    fxLayoutGap.xs="5px">
    <div *ngFor="let imgLink of project.links.demoImage" fxLayout="column">
      <div>
        <img [src]="imgLink.url" class="demo-image" />
      </div>
      <span class="demo-image-name">{{ imgLink.name }}</span>
    </div>
  </mat-card-content>
</mat-card>
