<mat-card class="basic-info-container">
  <mat-card-header
    fxShow.xs
    fxHide.gt-xs>
    <div mat-card-avatar
      class="info-image"
      [ngStyle]="{'background-image': 'url(' + info.image + ')'}"></div>
    <mat-card-title class="info-text">{{ info.name }}</mat-card-title>
    <mat-card-subtitle class="info-text">{{ info.label }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutAlign="space-around center"
    fxLayoutAlign.xs="start start">
    <div
      fxLayout="column"
      fxLayoutAlign="start start">
      <div fxHide.xs>
        <h1 class="info-text info-name mat-display-2">{{ info.name }}</h1>
        <h2 class="info-text info-label mat-subheading-2">{{ info.label }}</h2>
      </div>
      <div class="info-list" fxLayout="column" fxLayoutAlign="start start">
        <div class="info-item" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="info-item-icon" svgIcon="email"></mat-icon>
          <span class="info-text mat-body-1">{{ info.email }}</span>
        </div>
        <div class="info-item" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="info-item-icon" svgIcon="location"></mat-icon>
          <span class="info-text mat-body-1">{{ info.location.city }}, {{ info.location.region }}</span>
        </div>
        <div class="info-item" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="info-item-icon" svgIcon="phone"></mat-icon>
          <span class="info-text mat-body-1">{{ info.phone }}</span>
        </div>
      </div>
      <div fxLayout="row" class="profile-list">
        <a mat-mini-fab
          class="profile-item"
          *ngIf="info.profile.linkedin"
          [href]="info.profile.linkedin.url"
          target="_blank"
          rel="noopener"
          aria-label="LinkedIn Link"
          matTooltip="LinkedIn">
          <mat-icon svgIcon="linkedin"></mat-icon>
        </a>
        <a mat-mini-fab
          class="profile-item"
          *ngIf="info.profile.github"
          [href]="info.profile.github.url"
          target="_blank"
          rel="noopener"
          aria-label="Github Link"
          matTooltip="Github">
          <mat-icon svgIcon="github"></mat-icon>
        </a>
        <a mat-mini-fab
          class="profile-item"
          *ngIf="info.profile.facebook"
          [href]="info.profile.facebook.url"
          target="_blank"
          rel="noopener"
          aria-label="Facebook Link"
          matTooltip="Facebook">
          <mat-icon svgIcon="facebook"></mat-icon>
        </a>
        <a mat-mini-fab
          class="profile-item"
          *ngIf="info.profile.twitter"
          [href]="info.profile.twitter.url"
          target="_blank"
          rel="noopener"
          aria-label="Twitter Link"
          matTooltip="Twitter">
          <mat-icon svgIcon="twitter"></mat-icon>
        </a>
      </div>
    </div>
    <div
      fxHide.xs
      class="img-circular"
      [ngStyle]="{'background-image': 'url(' + info.image + ')'}"
      aria-label="Avatar">
    </div>
  </mat-card-content>
</mat-card>
