<div class="contact-container" fxLayout="column">
  <div fxLayout="row" fxLayoutAlign="center">
    <h1 class="contact-title">Contact</h1>
  </div>
  <div class="contacts"
    fxLayout="row"
    fxLayoutAlign="center center"
    fxLayoutGap="30px" fxLayoutGap.sm="10px" fxLayoutGap.xs="5px">
    <a mat-icon-button
      class="social-icon"
      *ngIf="profiles.linkedin"
      [href]="profiles.linkedin.url"
      target="_blank"
      aria-label="LinkedIn Link"
      matTooltip="LinkedIn">
      <mat-icon svgIcon="linkedin"></mat-icon>
    </a>
    <a mat-icon-button
      class="social-icon"
      *ngIf="profiles.github"
      [href]="profiles.github.url"
      target="_blank"
      aria-label="Github Link"
      matTooltip="Github">
      <mat-icon svgIcon="github"></mat-icon>
    </a>
    <a mat-icon-button
      class="social-icon"
      *ngIf="profiles.facebook"
      [href]="profiles.facebook.url"
      target="_blank"
      aria-label="Facebook Link"
      matTooltip="Facebook">
      <mat-icon svgIcon="facebook"></mat-icon>
    </a>
    <a mat-icon-button
      class="social-icon"
      *ngIf="profiles.twitter"
      [href]="profiles.twitter.url"
      target="_blank"
      aria-label="Twitter Link"
      matTooltip="Twitter">
      <mat-icon svgIcon="twitter"></mat-icon>
    </a>
  </div>
</div>
