<div class="contacts" 
  fxLayout="row" 
  fxLayoutAlign="center center" 
  fxLayoutGap="30px" fxLayoutGap.sm="10px" fxLayoutGap.xs="5px">
  <a mat-icon-button class="social-icon">
    <mat-icon svgIcon="linkedin"></mat-icon>
  </a>
  <a mat-icon-button class="social-icon">
    <mat-icon svgIcon="github"></mat-icon>
  </a>
  <a mat-icon-button class="social-icon">
    <mat-icon svgIcon="facebook"></mat-icon>
  </a>
  <a mat-icon-button class="social-icon">
    <mat-icon svgIcon="twitter"></mat-icon>
  </a>            
</div>