.error-container {
  min-height: 100vh;
}

.icon {
  color: #f44336;
  width: 288px;
  height: 288px;
}

@media screen and (max-width: 600px) {
  .error-container {
    margin-top: 80px;
  }

  .icon {
    width: 196px;
    height: 196px;
  }

  h1 {
    margin-bottom: 20px;
  }
}
