.project {
  height: 450px;
  width: 350px;
}

.cover-image {
  object-fit: cover;
  max-height: 200px;
}

.lang-type {
  position: absolute;
  top: 20px;
  right: 5px;
}

.read-more {
  margin-bottom: 5px;
}

.project-footer {
  padding: 0 10px 5px 10px;
}

@media screen and (max-width: 600px) {
  .project {
    width: 100%;
  }
}
