<mat-card class="project" fxLayout="column" fxLayoutAlign="space-between">
  <mat-card-title-group>
    <mat-card-title>
      {{ project.name }}
    </mat-card-title>
    <mat-chip-list class="lang-type">
      <mat-chip [ngStyle]="{
        backgroundColor: primaryLanguage?.color,
        color : primaryLanguage.fontColor }"
        matTooltip="Primary Language">
        {{ primaryLanguage?.displayName }}
      </mat-chip>
      <mat-chip [ngStyle]="{
        backgroundColor: primaryType?.color,
        color : primaryType.fontColor }"
        [matTooltip]="primaryType.description || 'Project Category'">
        {{ primaryType?.displayName }}
      </mat-chip>
    </mat-chip-list>
  </mat-card-title-group>
  <img class="cover-image" mat-card-image [src]="project.coverImageUrl" *ngIf="project.coverImageUrl !== undefined" />
  <mat-card-content>
    {{ project.description }}
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="space-between" class="read-more">
    <a mat-button [href]="project.url" target="_blank" aria-label="Link to Project Website">Link</a>
    <a mat-button
      [disabled]="!project.id"
      aria-label="View Project Detail"
      [routerLink]="['/projects', project.id ]">Detail</a>
  </mat-card-actions>
  <mat-card-footer fxLayout="row" fxLayoutAlign="start" class="project-footer">
    <mat-chip-list selectable="false" aria-label="Keyword list of this project">
      <div *ngFor="let keyword of displayKeywords">
        <mat-chip
          *ngIf="keyword?.displayName"
          [matTooltip]="keyword.description">
          {{ keyword.displayName }}
        </mat-chip>
      </div>
    </mat-chip-list>
  </mat-card-footer>
</mat-card>
